.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.wrapper h2 {
  margin: 10px;
}

.wrapper .wrap_list {
  max-width: 75rem;
  margin: 5px;
}

.wrapper .wrap_list .post_list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 77rem;
}

.wrapper .wrap_list .post_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #464646;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  height: 5rem;
}

.wrapper .wrap_list .post_list li p {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
}

.wrapper .wrap_list .post_list li p:nth-child(1) {
  width: 7%;
}

.wrapper .wrap_list .post_list li p:nth-child(2) {
  width: 6%;
}

.wrapper .wrap_list .post_list li p:nth-child(3) {
  width: 20%;
}

.wrapper .wrap_list .post_list li p:nth-child(4) {
  width: 67%;
}

.wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid gray;
  border-radius: 5px;
  max-width: 80rem;
  min-height: 10rem;
  padding: 2px;
  margin: 5px;
}

.wrapper form .allForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper form .allForm .idForm,
.wrapper form .allForm .titleForm,
.wrapper form .allForm .bodyForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 5rem;
}

.wrapper form .allForm .idForm .errors,
.wrapper form .allForm .titleForm .errors,
.wrapper form .allForm .bodyForm .errors {
  color: red;
}

.wrapper form .allForm textarea {
  height: 3rem;
  width: 30rem;
}

.wrapper form .allForm input,
.wrapper form .allForm textarea {
  border: 0;
  overflow: hidden;
  padding: 2px;
  margin: 2px;
  background-color: #ececec;
}

.wrapper form .allForm input:hover,
.wrapper form .allForm textarea:hover {
  cursor: pointer;
}

.wrapper .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  margin: 2px;
}
