.wrapper__postSmall {
  margin: 0 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 15rem;
}

.wrapper__postSmall .postSmall__title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  padding: 5px;
  margin: 16px 0;
}

.wrapper__postSmall .postSmall__info {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.wrapper__postSmall .postSmall__info .postSmallItem {
  border: 1px solid #000000;
  padding: 10px 20px;
  cursor: pointer;
  max-width: 39%;
  width: 30%;
  min-width: 10%;
  height: 7rem;
  overflow-y: auto;
}

.wrapper__postFull {
  margin: 0 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__postFull .postFull__title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  padding: 5px;
  margin: 16px 0;
}

.wrapper__postFull .postFull__info {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.wrapper__postFull .postFull__info .PostFullItemAndBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
  margin-bottom: 11px;
}

.wrapper__postFull .postFull__info .PostFullItemAndBtn .PostFullItem {
  border: 1px solid #000000;
  padding: 10px 20px;
  cursor: pointer;
  height: 5rem;
  overflow: auto;
}

.wrapper__postFull .postFull__info .PostFullItemAndBtn .wrap__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper__postFull .postFull__info .PostFullItemAndBtn .wrap__btn .btn {
  background: #000000;
  color: #ffffff;
  padding: 10px 20px;
  margin: 15px 6px;
  cursor: pointer;
}

.wrapper__postFull .postFull__info .PostFullItemAndBtn .wrap__btn .btn a {
  color: #ffffff;
  text-decoration: none;
}
